// Styling for the about section
section#about {
  .wt-graft-img {
    width: 100%;
    height: 280px;
    background-color: $primary;
    text-align: center;
    img {
      margin-top: 100px;
      width: 80px;
    }
  }
}
