// Styling for the gallery section
section#gallery {
  .owl-carousel {
    .item {
      display: flex;
      align-items: flex-start;
      height: 350px;
      background-color: $primary;
      img {
        align-self: center;
        margin: auto;
        width: 80px;
      }
    }
    .owl-nav {
      display: block !important;
      .owl-prev {
        position: absolute;
        top: 39%;
        left: -5px;
        background-color: #fff;
        color: #000;
        padding: 10px;
        border-radius: 0
      }
      .owl-next {
        position: absolute;
        top: 39%;
        right: -5px;
        background-color: #fff;
        color: #000;
        padding: 10px;
        border-radius: 0
      }
    }
  }
}

@media (min-width: 992px) {
  section#gallery {
    .owl-carousel {
      .item {
        height: 550px;
        img {
          width: 128px;
        }
      }
      .owl-nav {
        .owl-prev {
          top: 43%;
        }
        .owl-next {
          top: 43%;
        }
      }
    }
  }
}