// Styling for the masthead
section#masthead {
  position: relative;
  .wt-background-headerImg {
    background: $primary-100;
  }
  .block_intro {
    padding-top: 50px;
    padding-bottom: 50px;
    .wt-section-heroTitle {
      word-wrap: break-word;
    }
  }
}
@media (min-width: 992px) {
  section#masthead {
    height: 100vh;
    .block_intro {
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }
}
