// Styling for the services section
section#services {
  background-color: $primary-100;
  .block_services {
    background-color: #fff;
    padding: 25px;
  }
}
@media (min-width: 992px) {
  section#services .block_services {
    min-height: 309px;
  }
}

// Styling for the types section
section#types {
  .block_types {
    background-color: $primary;
    height: 220px;
  }
}
// Styling for the clients section
section#clients {
  background-color: $primary-100;
  .block_clients {
    background-color: $primary-200;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
  }
}
// Styling for the whyUs section
section#whyUs {
  background-color: $primary-200;
  .block_whyUs {
    background-color: #fff;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
  }
}